@import "../node_modules/bootstrap/scss/bootstrap.scss";

.user-input.dark-theme,
.user-input.dark-theme:focus,
.user-input.dark-theme:active {
  background-color: lighten($color: $dark, $amount: 10%);
  color: $light;
}

.user-input.dark-theme::placeholder {
  color: darken($color: $light, $amount: 50%);
}

.user-input.light-theme::placeholder {
  color: lighten($color: $dark, $amount: 50%);
}

.btn {
  transition: none !important;
}

.add-item-btn.dark-theme {
  background-color: lighten($color: $dark, $amount: 10%) !important;
}

.add-item-btn.light-theme {
  background-color: $white;
}

.plus {
  color: green;
}
