@import "../node_modules/bootstrap/scss/bootstrap.scss";

.moon {
  color: rgb(48, 114, 201);
}

.sun {
  color: rgb(255, 174, 67);
}

.theme-changer .btn.dark-theme {
  background-color: lighten($color: $dark, $amount: 10%);
}

.theme-changer .btn.light-theme {
  background-color: $white;
}
