@import "../node_modules/bootstrap/scss/bootstrap.scss";

@media (max-width: 720px) {
  .app {
    flex-direction: column !important;
    min-width: 100%;
    justify-content: start !important;
    overflow: auto;
  }
}
